.limiter {
  width: 100%;
  margin: 0 auto;

  .container-login100 {
    background-image: url("../../assets/images/background2.jpg");
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    z-index: 1;
  }

  .container-login100::before {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.32);
  }

  .wrap-login100 {
    width: 430px;
    border-radius: 10px;
    overflow: hidden;
    padding: 55px 55px 37px 55px;

    background: #091f36ad;
    background: -webkit-linear-gradient(top, #7579ff, #b224ef);
    background: -o-linear-gradient(top, #7579ff, #b224ef);
    background: -moz-linear-gradient(top, #7579ff, #b224ef);
    background: linear-gradient(top, #7579ff, #b224ef);

    .login100-form {
      width: 100%;
    }

    .login100-form-logo {
      font-size: 60px;
      color: #333333;

      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background-color: #fff;
      margin: 0 auto;
    }

    .login100-form-title {
      font-size: 30px;
      color: #fff;
      line-height: 1.2;
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 46px;
      display: block;
    }

    .wrap-input100 {
      width: 100%;
      // position: relative;
      border-bottom: 2px solid rgba(255, 255, 255, 0.24);
      margin-bottom: 30px;
    }

    .input100 {
      font-size: 16px;
      color: #fff;
      line-height: 1.2;

      display: block;
      width: 100%;
      height: 45px;
      background: transparent;
      // padding: 0 5px 0 38px;
    }


  
    .login-form {
      // max-width: 300px;
    }
    .login-form-forgot {
      float: right;
    }
    .login-form-button {
      width: 100%;
      height: 44px;
      font-size: 18px;
    }
  
  }

}
