.noti-container {
  position: relative;
  margin-bottom: 16px;
  padding: 16px 24px;
  overflow: hidden;
  line-height: 1.5;
  background: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  .creator-name{
    font-size: 20;
    font-family: Roboto-bold;

    .time {
      display: block;
      font-family: Roboto-regular;
    }
  }
  .noti-content {
    width: 100%;
    min-height: 100px;
  }
}