.layout-custom {
  width: 100vw;
  height: 100vh;

  .layout-slide-cus {

    // border-right: 1px solid #001529;
    .item-menu-cus {
      font-size: 16px;
      margin-top: 0px;
    }
  }

  .ant-layout {
    .ant-layout-content {
      overflow: auto;
    }
  }
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 64px;
  background: rgb(255, 255, 255);
  display: flex;
  padding-left: 10px;
  align-items: center;
  border-right: 1px solid #001529;
  width: 200px;
  max-width: 200px;
  min-width: 200px;
  transition: all 0.2s;

  img {
    width: 114px;
    margin-right: 10px;
    display: block;
  }
  .hus-convert {
    transition: opacity 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), width 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);;
  }

  &.collapsed-logo {
    justify-content: center;
    width: 80px;
    max-width: 80px;
    min-width: 80px;

    .hus-convert {
      display: none;
    }
  }
}