.home {

  .user-chart {
    border-bottom: 1px solid #9d9b9d;
    padding-top: 20px;
    .pie-chart-cus-container {
      max-width: 700px;
      margin: auto;
    }
    .count-user {
      margin: 20px 0;
      display: flex;
      justify-content: center;
      span {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 500
      }
    }
  }

  
}