.support {
  position: absolute;
  bottom: calc(30% - 250px);
  left: 0;
  width: 100%;
  border-top: 1px solid;

  .contact {
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1.5px;
    padding: 30px 0 30px 30px;
  }
  .text {
    padding-left: 30px;
    padding-bottom: 15px;
    font-size: 24px
  }
}