.input-form{
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  .title {
    font-family: Roboto-thin-italic;
    font-size: 18px;
    min-width: 86px;
  }
  input {
    border: unset;
    background-color: #eee;
    width: 100%;
  }
}