.class-card {
  position: relative;
  display: flex;
  height: 190px;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
  // box-shadow: 0px 5.68333px 5.68333px rgba(0, 0, 0, 0.25);
  width: 100%;
  max-width: 600px;
    
  .button-join {
    position: absolute;
    z-index: 999;
    right: 10px;
    bottom: 10px;
    .button-content {
      font-family: Roboto-medium;
    }
  }
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 2s cubic-bezier(.165, .84, .44, 1);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .2), 0 6px 20px 0 rgba(0, 0, 0, .15);
    content: '';
    opacity: 0;
    z-index: -1;
  }

  &:hover,
  &:focus {
    transform: scale3d(1.006, 1, 1);
    color: #000;
    &::after {
      // opacity: 1;
    }
  }
  .class-avatar {
    width: 40%;
    height: 100%;
    overflow: hidden;
    border-right: 1px solid #e2dbdb;
    .avatar{
      height: 100%;
      width: 100%;
      transition: all .4s ease-in-out;

      &:hover{
        transform: scale(1.2)
      }
    }
  }
  .class-info {
    padding: 5px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    width: 60%;
    min-width: 60%;
    .class-info-name {
      font-family: Roboto-medium;
      font-size: 21px;
      margin-bottom: 5px;
      display: flex;
      align-items: baseline;
      div {
      font-family: Roboto;
      font-size: 18px;
      min-width: 88px;
      }
      span {
        display: inline-block;
        white-space: nowrap;
        overflow: hidden !important;
        text-overflow: ellipsis;
      }
    }
    .class-name {
      font-size: 24px;
      margin-bottom: 10px
    }
  }

  .has-join-request {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: #a50202;
    color: #fff;
    /* text-align: center; */
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}