.button-border {
  border: 2px solid #1890ff;
  background-color: #fff;
  min-width: 64px;
  min-height: 30px;
  padding: 4px 15px;
  display: flex;
  cursor: pointer;
  .button-content {
    font-family: Roboto;
    font-size: 17px;
    color: #1890ff;
    margin: auto;
  }

  &:hover {
    background-color: #1890ff;
    .button-content {
      color: #fff
    }
  }
}