.modal-add-lesson {
  height: 60%;
  width: 60% !important;
  .ant-modal-content {
    height: 100%;
    .ant-modal-body {
      height: 90%;
      padding: 40px 20px 0 20px;

      .add-lesson-container {
        height: 100%;
        overflow: hidden;
        &:hover {
          overflow: auto;
        }
        .add-lesson-content {
          display: flex;
          flex-wrap: wrap;
          .modal-lesson-card {
            width: 300px;
            height: 260px;
            margin-left: 20px;
            &.card-actived {
              box-shadow: 0px 5.68333px 5.68333px rgba(226, 28, 28, 0.57);
            }
            .lesson-card-header {
              height: 90%;
              overflow: hidden;
              .lesson-name {
                font-size: 20px;
              }
            }
            .interactions {
              display: none;
            }
            .lesson-card-footer {

              .avatar-container {
                display: none
              }
              .create-at {
                margin-left: unset;
              }
            }
          }
        }
      }
    }
    .ant-modal-footer {
      display: flex;
      justify-content: flex-end;
      min-height: 58px;
      background-color: #fff
    }
  }
}
.add-lesson-container::-webkit-scrollbar {
  position: absolute;
  right: 0;
  width: 6px;
  background-color: #fff;
}

.add-lesson-container::-webkit-scrollbar-thumb {
  background-color: #f86565;
  border-radius: 2px;
}

.add-lesson-container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}