.reaction{
  display: flex;
  align-items: center;
  margin-right: 20px;
  min-width: 80px;
  .icon {
    width:  29px;
    height: 29px;
    margin-right: 5px;
  }
  .number {
    font-family: Roboto;
    font-size: 25px;
  }
}