.introduce {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 29px;
    color: #4a4a4a;
    margin-bottom: 20px;
    font-weight: 500;
  }
  .description {
    color: #4a4a4a;
    font-size: 21px;
    white-space: pre-line;
    text-align: justify;
  }
}