.addUser {
  width: 100%;
  border: 1px solid #dddfe2;
  border-radius: 3px;
  padding: 12px;
  background-color: #fff;
  margin-bottom: 20px;
  .add-new-text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    .add-user-button {
      float: right;
      padding: 0 5px;
      min-width: unset;
      min-height: unset
    }
  }
}