.comment-container{
  background-color: #fff;
  padding: 20px 40px;
  min-width: 640px;
  width: 100%;
  max-width: 1280px;
  .title {
    font-size: 30px;
    color: #4a4a4a
  }
  .comment-content {
    padding: 10px 20px;
  }
}