.comment-user {
  border: 1px solid #9e9e9e;
  border-radius: 7px;
  width: 100%;
  padding: 10px 10px;
  margin-bottom: 20px;
  .user-name{
    span {
      font-size: 18px;
      background-color: #c4c4c4;
      width: min-content;
      color: #000;
    }
  }
  .content {
    padding:5px 0 5px 10px ;
    font-size: 18px
  }
  .time {
    text-align: right;
    font-size: 16px;
  }
}