.edit-sub-container {

  .format-container {

    .format-title {
      font-size: 20px;
    }
    .format-content {
      padding: 0 24px;
      .edit-sub-type {

        .type-title {
          width: 30%;
          font-size: 16px;
        }
        .select-edit {
          margin-top: 5px;
          margin-bottom: 20px;
          width: 70%;
          min-width: 220px;
          margin-left: 10%
        }
      }
    }
  }
  .bottom-button {
    display: flex;
    float: right;
    .button-border {
      margin-right: 10px;
    }
  }
}