.avatar-container {
  display: flex;
  align-items: center;
  .avatar-character {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto-bold
  }
  .avatar {
    width: 41px;
    height: 41px;
    border-radius: 50%;
  }
  .icon-down {
    width: 25px;
    height: 24px;
  }
  .avatar-name {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: Roboto-medium;
    font-size: 20px;
  }
}