@import '~antd/dist/antd.css';


@font-face {
  font-family: Roboto;
  src: url('./assets/fonts/Roboto-Regular.ttf');
}
@font-face {
  font-family: Roboto-medium;
  src: url('./assets/fonts/Roboto-Medium.ttf');
}
@font-face {
  font-family: Roboto-bold;
  src: url('./assets/fonts/Roboto-Bold.ttf');
}
@font-face {
  font-family: Roboto-light;
  src: url('./assets/fonts/Roboto-Light.ttf');
}
@font-face {
  font-family: Roboto-thin-italic;
  src: url('./assets/fonts/Roboto-ThinItalic.ttf');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
