.slide-show-container{

  .slide-show {
    // min-height: 300px;
    min-height: 370px;
    // height: 40vw;
    min-width: 500px;
    width: 100%;
    // height: 100%;
    border: 2px solid #D63535;
    margin: 15px auto 0;
    position: relative;

    .slide {
      min-height: 370px;
      width: 100%;
      height: 100%;
    }

    .subtitle {
      display: block;
      width: 100%;
      text-align: center;
      position: absolute;
      padding: 10px 10px;
      bottom: 0;
      span{
        background-color: rgba($color: #000000, $alpha: 0.57);
        color: #fff;
        font-size: 28px;
      }
    &.hidden-comment {
      display: none
    }
    }
  }
}